@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Roboto+Slab&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    width: 600px;
}

header>h1 {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    background-color: blue;
}

.btnDiv {
    margin: 10px auto;
    position: relative;
    height: 100px;
}

.dotList {
    text-align: center;
}

img {
    margin: auto 10px;
}

.logo {
    margin-top: 20px;
    text-align: center;
    height: 600px;
    width: 600px;
    position: relative;
}

.dotHolder {
    width: 120px;
    height: 120px;
}

#blackDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 175px;
    left: 33px;
}

#black1Div {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 270px;
    left: 405px;
}

#redDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 55px;
    left: 440px;
}

#blueDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 35px;
    left: 260px;
}

#greenDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 320px;
    left: 130px;
}

.responsive {
    width: auto;
    height: auto;
}

.btnDrag {
    border-radius: 50%;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}


.reset {
    margin: 20px;
    text-align: center;
}

.reset button {
    appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: all 80ms ease-in-out;
    width: fit-content;
}

.resetBtn:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

.divComplete {
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}