@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500&family=Roboto+Slab&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body {
    width: 600px;
}

header>h1 {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    background-color: blue;
}

.btnDiv {
    margin: 10px auto;
    position: relative;
    height: 100px;
    /* border: 4px solid black; */
}

.dotList {
    text-align: center;
}
img {
    margin: auto 10px;
}
.logo {
    margin-top: 20px;
    text-align: center;
    height: 600px;
    width: 600px;
    position: relative;
}

.dotHolder {
    background-color: orange;
    width: 120px;
    height: 120px;
}

#blackDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 165px;
    left: 33px;
}
#black1Div {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 260px;
    left: 405px;
}
#redDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 45px;
    left: 440px;
}
#blueDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 25px;
    left: 260px;
}
#greenDiv {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    top: 310px;
    left: 130px;
}

.responsive {
    width: auto;
    height: auto;
}

.btnDrag {
    border-radius: 50%;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}

/* #black {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-90%, -90%);
}

#black1 {
    position: absolute;
    top: 90%;
    left: 73%;
    transform: translate(-90%, -90%);
}

#green {
    position: absolute;
    top: 90%;
    left: 55%;
    transform: translate(-90%, -90%);
}

#red {
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-90%, -90%);
}

#blue {
    position: absolute;
    top: 90%;
    left: 15%;
    transform: translate(-90%, -90%);
} */

.reset {
    margin: 20px;
    text-align: center;
}

.reset button {
    appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: all 80ms ease-in-out;
    width: fit-content;
}

.resetBtn:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}